flask==2.2.2
Flask-SQLAlchemy==2.4.4
jsonschema==3.2.0
python-dotenv==0.18.0
psycopg2-binary==2.8.6
Flask-request==0.0.14
Werkzeug==1.0.1
Flask-JWT==0.3.2
PyJWT==1.4.2
Jinja2==3.1.2
SQLAlchemy==1.3.20
schema
jsonify
psycopg2
uuid
werkzeug.security
jwt
datetime
functools
flask-dotenv